.u-section-1 .u-sheet-1 {
  min-height: 420px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 63px auto 0 28px;
}

.u-section-1 .u-form-1 {
  height: 600px;
  background-image: none;
  margin-top: 7px;
  margin-bottom: 7px;
}

.u-section-1 .u-label-1 {
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-label-2 {
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 43px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 28px;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-top: 20px;
  }
}